body{margin:0;height:100%;}
canvas{
    position:absolute;top:0;left:0;
    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    /* background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%); */
    
    /* background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, gray),
        color-stop(0.84, black)
    ); */
}
@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/mountains-of-christmas-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Mountains of Christmas Regular'), local('MountainsofChristmas-Regular'),
         url('fonts/mountains-of-christmas-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mountains-of-christmas-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mountains-of-christmas-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/mountains-of-christmas-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/mountains-of-christmas-v10-latin-regular.svg#MountainsofChristmas') format('svg'); /* Legacy iOS */
  }
  /* black-and-white-picture-regular - latin */
@font-face {
    font-family: 'Black And White Picture';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/black-and-white-picture-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Black And White Picture Regular'), local('BlackAndWhitePicture-Regular'),
         url('fonts/black-and-white-picture-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/black-and-white-picture-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/black-and-white-picture-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/black-and-white-picture-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/black-and-white-picture-v5-latin-regular.svg#BlackAndWhitePicture') format('svg'); /* Legacy iOS */
  }
  /* black-and-white-picture-regular - latin */


  body{
    background:url("registration.jpg");
    /* background-size:100px 100px; */
    /* background-attachment: */
    }